#versions {
    padding: 0.5rem 2rem;
    margin: 0 0;
    height: 34rem;
    overflow: scroll;
}

.sidebar.collapse.show {
    visibility: visible;
    display: block;
    margin-left: 0;
}

.sidebar.collapse {
    display: block;
    margin-left: -25%; /* same width as sidebar */
}

#sidebar {
    height: auto;
    -webkit-transition: margin .35s ease;
    -moz-transition: margin .35s ease;
    -o-transition: margin .35s ease;
    transition: margin .35s ease;
}

/*popover */
ul.json-dict, ol.json-array {
    padding-left: 1em;
    font: 12px/18px monospace;
}

.popover {
    max-width: 400px;
    overflow-x: hidden;
}