body {
    overflow-y: hidden;
}

.sidebar.collapse.show {
    visibility: visible;
    display: block;
    margin-left: 0;
}

.sidebar.collapse {
    display: block;
    margin-left: -25%; /* same width as sidebar */
}

#sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    height: auto;
    -webkit-transition: margin .35s ease;
    -moz-transition: margin .35s ease;
    -o-transition: margin .35s ease;
    transition: margin .35s ease;
}

#content {
    position: fixed;
    top: 56px;
    bottom: 0;
    right: 0;
    overflow: scroll;
    -webkit-transition:max-width .35s ease;
    -moz-transition: max-width .35s ease;
    -o-transition: max-width .35s ease;
    transition: max-width .35s ease;
}

.cb-group {
    position: absolute;
    top: 216px;
    bottom: 0;
    left: 1rem;
    right: 1rem;
    overflow-y: scroll;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0;
}

.table > thead > tr > th {
    vertical-align: middle;
}

/*popover */
ul.json-dict, ol.json-array {
    padding-left: 1em;
    font: 12px/18px monospace;
}

.popover {
    max-width: 350px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 120px;
    right: 20px;
    display: none;
}