#versions {
    padding: 0.5rem 2rem;
    margin: 0 0;
    height: 34rem;
    overflow: scroll;
}

#row-main {
    overflow-x: hidden; /* necessary to hide collapsed sidebar */
}

.sidebar.collapse.show {
    visibility: visible;
    display: block;
    margin-left: 0;
}

.sidebar.collapse {
    display: block;
    margin-left: -25%; /* same width as sidebar */
}

#content {
    -webkit-transition: width .35s ease;
    -moz-transition: width .35s ease;
    -o-transition: width .35s ease;
    transition: width .35s ease;
}

#sidebar {
    height: auto;
    -webkit-transition: margin .35s ease;
    -moz-transition: margin .35s ease;
    -o-transition: margin .35s ease;
    transition: margin .35s ease;
}