/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require css/font-awesome.min
*= require_tree jqueryui
*= require_self
*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.navbar .dropdown-menu{
  min-width:2rem;
  background:#4682B4;
}
.navbar .dropdown-item:hover{
  background:#4682B4;
  color:rgba(255, 255, 255, 0.5);
}

.navbar .dropdown-item{
 color:rgba(255, 255, 255, 0.75);
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #4682B4;
  border-top: .05rem solid orange;
  color: #999;
  text-align: center;
}
footer p:last-child {
  margin-bottom: 0;
}

footer a{
  color:rgba(255, 255, 255, 0.5);
}

footer a:hover{
  color:rgba(255, 255, 255, 0.75);
}
/* Custom page CSS
-------------------------------------------------- */

.ui-autocomplete {
    z-index: 5000;
    border-radius:0.25rem;
}

#modal-chips .chip {
    display: inline-block;
    padding: 0 20px;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    border-radius: 15px;
    background-color: #f1f1f1;
}

#modal-chips .closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

#modal-chips .closebtn:hover {
    color: #000;
}