//global colors
$color-primary: #4682B4;

.ui-menu-item .ui-menu-item-wrapper:hover {
    border: none !important;
    background-color: #4682B4;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    background-color: $color-primary;
    border-top: .05rem solid orange;
    color: #999;
    text-align: center;
}

footer a {
    color: rgba(255, 255, 255, 0.5);
}

footer a:hover {
    color: rgba(255, 255, 255, 0.75);
}