/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.navbar .dropdown-menu{
  min-width:2rem;
  background:#4682B4;
}
.navbar .dropdown-item:hover{
  background:#4682B4;
  color:rgba(255, 255, 255, 0.5);
}

.navbar .dropdown-item{
 color:rgba(255, 255, 255, 0.75);
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #4682B4;
  border-top: .05rem solid orange;
  color: #999;
  text-align: center;
}
footer p:last-child {
  margin-bottom: 0;
}

footer a{
  color:rgba(255, 255, 255, 0.5);
}

footer a:hover{
  color:rgba(255, 255, 255, 0.75);
}
/* Custom page CSS
-------------------------------------------------- */