/*
*= require lib/jquery.json-browse
*= require_self
*/

#content{
    position: absolute;
    top: 56px;
    bottom: 0;
}

.btn-secondary.btn-on.active {
    background-color: #4682B4;
    color: white;
}

.btn-secondary.btn-off.active {
    background-color: #A7A7A7;
    color: white;
}